@{
    ViewBag.Title = "Azure Search - Web Med Search";
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/jquery-ui.min.js"></script>

<div class="row">
    <nav class="col-md-3 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <div style="margin:5px;">
                @Html.Partial("~/Views/Partial/SearchBox.cshtml")
            </div>
            <ul class="nav flex-column">
                @*<li class="nav-item">
                        @Html.Partial("~/Views/Partial/MultiLevelFacet.cshtml",
                                  new ViewDataDictionary { { "facetField", "terms" }, { "facetTitle", "Multi Level Terms" } })
                    </li>*@

                @Html.Partial("~/Views/Partial/CheckBoxFacet.cshtml", new ViewDataDictionary { { "facetField", "anatomicalSiteMentions" }, { "facetTitle", "Anatomical Site" }, { "collectionFlag", true } })
                @Html.Partial("~/Views/Partial/CheckBoxFacet.cshtml", new ViewDataDictionary { { "facetField", "diseaseDisorders" }, { "facetTitle", "Disease & Disorders" }, { "collectionFlag", true } })
                @Html.Partial("~/Views/Partial/CheckBoxFacet.cshtml", new ViewDataDictionary { { "facetField", "medicationMentions" }, { "facetTitle", "Medical Mentions" }, { "collectionFlag", true } })
                @Html.Partial("~/Views/Partial/CheckBoxFacet.cshtml", new ViewDataDictionary { { "facetField", "signSymptomMentions" }, { "facetTitle", "Signs & Symptoms" }, { "collectionFlag", true } })
            </ul>

        </div>
    </nav>
    <main role="main" class="col-md-8 ml-sm-auto col-lg-9 pt-3 px-4">
        @Html.Partial("~/Views/Partial/SearchResults.cshtml")
    </main>

</div>

